.data
  @include container( $col-11, $col-11, $col-10, $max-width: 800px )
  margin: 80px auto 20px auto
  h1
    margin-bottom: 30px
    color: $color-main
    text-transform: capitalize
.data__loading
  font-size: $font-size-h2
  text-transform: uppercase
  color: $color-main
.data__row
  display: flex
  justify-content: space-between
  width: 100%
  border-bottom: 1px dashed $color-main
.table
  margin-top: 10px
.data__cell
  display: flex
  justify-content: center
  align-items: center
  width: $col-3
  font-size: $font-size-h5
  height: 50px
  text-align: center
  &:first-child
    width: $col-4
  &--heading
    color: $color-dark
    font-weight: bold
.pagination
  display: flex
  justify-content: center
  margin-top: 20px
.settings
  display: flex
  flex-direction: column
  width: 80%
  margin: 10px auto
  span
    display: block
    align-self: center
    margin-bottom: 5px
    color: $color-dark
  p
    text-align: center
.settings__date-picker
  align-self: center
  width: 100%
  padding: 0
.settings__date-picker span.el-range-separator
  padding: 0
